<header>
  <div class="header_container container-fluid">
    <div class="header_content row g-0">
      <div class="header_left col-md-4 d-flex justify-content-start align-items-center">
        <div class="app_logo pe-3 border-end">
          <a href="/demo/neewee">
            <img src="assets/Images/Logo_Main.png" class="logo_main" alt="">
          </a>
        </div>
        <div class="app_name  ps-3">
          <h6>Calculation Engine</h6>
        </div>
      </div>
      <div class="header_center col-md-4 d-flex justify-content-center align-items-center">
        <div class="doc_title">
          <h6>
            Untitled Document <span><img src="assets/Images/chevron-down.svg" alt=""></span>
          </h6>
        </div>
      </div>
      <div class="header_right col-md-4 d-flex justify-content-end align-items-center">
        <div class="user_container pe-3 border-end">
          <img src="assets/Images/user_icon.svg" class="user_icon" alt="">
        </div>
        <div class="menu_container ps-3">
          <img src="assets/Images/menu_icon.svg" class="menu_icon" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
