<div class="data-area-header d-flex justify-content-between align-items-center">
  <div class="file-name-icon-wrapper d-flex align-items-center">
    <div class="data-icon">
      <img src="assets/img/data-icon.svg" alt="">
    </div>
    <div class="file-name mx-3">
      <div class="light-text">Step 2: Filter</div>
      <div class="heading-3">Prod_01_04_2022</div>
    </div>
  </div>
  <div class="date-time-wrapper d-flex align-items-center">
    <!-- <div class=""><img src="assets/img/clock.svg" alt=""></div>
    <div class="date-time mx-2">12:22PM, 01/06/2021</div> -->
    <div class="menu-btn"><button class="btn"><img src="assets/img/menu-btn.svg" alt=""></button></div>
  </div>
</div>
